<html lang="cmn-Hans-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>轻博客 - 401</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/picture/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <!-- Vue 实例容器 -->
    <div id="app">
        <div>
            <div class="nav">
                <ul class="nav-items">
                    <li class="nav-item-active"><a href="/#/" class="router-link-exact-active router-link-active">
                            首页
                        </a></li>
                    <li class="nav-item"><a href="/#/login" class="">
                            登录
                        </a></li>
                    <li class="nav-item"><a href="/#/join" class="">
                            注册
                        </a></li>
                </ul>
                <div class="nav-icon"><img src="/static/picture/default_user_icon.png"></div>
            </div>
            <div id="main">
                <div class="center-area">
                    <p class="b-title">你需要登录来获得权限。</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>